.centercolde {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.centercolde1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 0.5rem;
}
