.mainboxcom {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 3.8941px 25.9607px rgba(0, 0, 0, 0.05);
  border-radius: 7.60907px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
}
.mainboxcom1 {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 35rem;
}
.btncom {
  background-color: #def5d3;
  color: #42b00f;
  border: #def5d3 solid 1px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}
.int {
  color: #151515;
  font-size: 1rem;
  font-weight: 600;
}
.int1 {
  color: #a1a1a1;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
}
.smalltext {
  color: #2d9cdb !important;
}
.marleft {
  margin-left: 1.5rem;
}
.imgstyle {
  width: 10rem;
  height: 9rem;
}
.jantext {
  color: #a1a1a1;
  font-size: 0.8rem;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .mainboxcom1 {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
  }
}
@media (max-width: 375px) {
  .mainboxcom1 {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
  }
  .imgstyle {
    width: 6rem;
    height: 7rem;
  }
  .int {
    color: #151515;
    font-size: 0.7rem;
    font-weight: 600;
  }
  .int1 {
    color: #a1a1a1;
    font-size: 0.7rem;
    font-weight: 500;
    margin-top: 0.5rem;
  }
  .mainboxcom {
    display: flex;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 3.8941px 25.9607px rgba(0, 0, 0, 0.05);
    border-radius: 7.60907px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
  }
}
