.carodiv {
  width: 68rem;
  border-radius: 0.1rem !important;
}

.centercaro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.textdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 67rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.viewtext {
  color: #42b00f;
  font-size: 0.9rem;
  font-weight: 600;
}

.hrline {
  width: 67rem;
  margin-bottom: 2rem;
}

.greenline {
  background-color: "#42b00f";
  border-width: 1;
  width: 9rem;
  border: #42b00f 2px solid;
  position: absolute;
  margin-top: 3.4rem;
}

.postsize {
  width: 67rem;
}

@media (max-width: 1024px) {
  .carodiv {
    width: 51rem;
    border-radius: 0.1rem !important;
  }

  .hrline {
    width: 50rem;
    margin-bottom: 2rem;
  }

  .textdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .postsize {
    width: 51rem;
  }
}

@media (max-width: 768px) {
  .carodiv {
    width: 45rem;
    border-radius: 0.1rem !important;
  }

  .hrline {
    width: 45rem;
    margin-bottom: 2rem;
  }

  .textdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .postsize {
    width: 45rem;
  }
}

@media (max-width: 425px) {
  .carodiv {
    width: 24rem;
    border-radius: 0.1rem !important;
  }

  .hrline {
    width: 18rem;
    margin-bottom: 2rem;
  }

  .textdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .viewtext {
    display: none;
  }

  .postsize {
    width: 100%;
  }
}