.imagethirt {
  width: 49rem;
}
.divfontv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.blackline {
  background-color: #e8e8e8;
  height: 0.01rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}
.greenlines {
  width: 12rem;
  height: 0.3rem;
  position: absolute;
  margin-top: -0.13rem;
}
.Populartxt {
  font-size: 1.5rem;
  font-weight: 600;
}
.viwall {
  color: #42b00f;
}
.rowcolstore {
  display: flex;
  justify-content: space-evenly;
}
.CarouselDeshitwowidth {
  margin: 0 auto;
  width: 33rem;
}
.cardsstoree {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}
.imageone {
  position: absolute;
  margin-top: -3rem;
  margin-left: -1.8rem;
}
.dicvfdr {
  text-align: center;
  width: 15rem;
}
.nameshop {
  font-size: 1.2rem;
  font-weight: 600;
}
.openbutton {
  color: #42b00f !important;
  background-color: #def5d3 !important;
  border-radius: 1rem;
  margin-top: 0.5rem;
}
.loctxt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.address {
  font-size: 0.8rem;
}
.butt {
  background-color: white;
  color: #42b00f;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.disp {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.8rem;
}
.fontli {
  color: #c4c4c4;
}
.imgfour {
  margin-top: 0.8rem;
  display: flex;
  justify-content: center;

  gap: 0.5rem;
}
.gol {
  background-color: #f1f1f1;
  width: 2rem;
  height: 2rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nonedrawer {
  display: none;
}
@media (max-width: 1024px) {
  .imagethirt {
    width: 35rem;
  }
  .imagethirrt {
    display: flex;
    justify-content: center;
  }
  .dicvfdr {
    text-align: center;
    width: 10.7rem;
  }
}

@media (max-width: 768px) {
  .dicvfdr {
    text-align: center;
    width: 15rem;
  }
  .nonedrawer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32rem;
  }
  .cardsstoree {
    display: grid;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 1.5rem;
  }
  .imagethirt {
    width: 40rem;
    margin-bottom: 2rem;
  }
  .imagethirrt {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .nonedrawer {
    display: flex;
    gap: 15rem;
  }
  .imagethirt {
    width: 22rem;
  }
  .divfontv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
  }
  .greenlines {
    width: 12rem;
    height: 0.3rem;
    position: absolute;
    margin-top: -0.13rem;
    margin-left: 5rem;
  }
}
@media (max-width: 375px) {
  .nonedrawer {
    display: flex;
    gap: 11rem;
  }
}
