.imagethirt {
  width: 50rem;
}
.divfontv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.blackline {
  background-color: #e8e8e8;
  height: 0.01rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}
.greenlines {
  width: 12rem;
  height: 0.3rem;
  position: absolute;
  margin-top: -0.13rem;
}
.ant {
  color: #42b00f !important;
  text-align: right !important;
  display: flex !important;
  justify-content: flex-end !important;
}
.active .ant-tabs-tab-bt {
  color: #42b00f !important;
}
.greenliness {
  width: 15rem;
  height: 0.3rem;
  position: absolute;
  margin-top: -0.13rem;
}
.Populartxt {
  font-size: 1.5rem;
  font-weight: 600;
}
.viwall {
  color: #42b00f;
}
.CarouselDeshitwowidth {
  margin: 0 auto;
  width: 33rem;
}
.twoimgeswonder {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}
.imgeswonder {
  width: 25rem;
}
.imagesdeshitwo {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
}
.colfirstimg {
  display: grid;
}
.imgesstudio {
  height: 19rem;
  width: 29rem;
}
.nonedrawer {
  display: none;
}
@media (max-width: 1024px) {
  .imagethirt {
    width: 35rem;
  }
  .imagethirrt {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .imagethirt {
    margin-bottom: 2rem;
  }
  .nonedrawer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35rem;
  }
  .imagesdeshitwo {
    display: grid;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 2rem;
  }
  .twoimgeswonder {
    display: grid;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  .colfirstimg {
    display: flex;
    gap: 7.5rem;
  }
}
@media (max-width: 425px) {
  .imgeswonder {
    width: 22rem;
  }
  .imagethirt {
    width: 22rem;
    margin-bottom: 2rem;
  }
  .imagesdeshitwo {
    display: grid;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 2rem;
  }
  .imgesstudio {
    height: 15rem;
    width: 22rem;
  }
  .colfirstimg {
    display: flex;
    gap: 1rem;
  }
  .divfontv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
  }
  .greenlines {
    width: 12rem;
    height: 0.3rem;
    position: absolute;
    margin-top: -0.13rem;
    margin-left: 6rem;
  }
  .greenliness {
    width: 15rem;
    height: 0.3rem;
    position: absolute;
    margin-top: -0.13rem;
    margin-left: 5rem;
  }
  .imagethirrt {
    display: flex;
    justify-content: center;
  }
  .nonedrawer {
    display: flex;
    gap: 15rem;
  }
}
@media (max-width: 375px) {
  .nonedrawer {
    display: flex;
    gap: 11rem;
  }
}
