.centercoldeshi {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centercoldeshi1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem !important;
}
@media (max-width: 768px) {
}
.centercoldeshi1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0rem;
}
