.flexbox {
  display: flex;
  align-items: center;
}
.flexsmallbox {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}
.bigbox {
  background: #ffffff;
  box-shadow: 0px 2.55885px 17.059px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.text14 {
  color: black;
  font-weight: 600;
  font-size: 1rem;
  margin-left: 0.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.text144 {
  color: black;
  font-weight: 600;
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.texta {
  color: #7e8284;
  font-weight: 600;
  font-size: 0.8rem;
  margin-left: 0.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.cel {
  height: 1.5rem;
  width: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.textap {
  color: #a1a1a1;
  font-size: 0.7rem;
  font-weight: 500;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.texth {
  color: #444444;
  font-size: 0.9rem;
  font-weight: 400;
}
.line {
  margin-left: 0.5rem;
  width: 30rem;
}
@media (max-width: 1024px) {
  .line {
    margin-left: 0.5rem;
    width: 25rem;
  }
  .bigbox {
    background: #ffffff;
    box-shadow: 0px 2.55885px 17.059px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
  }
}
@media (max-width: 768px) {
  .bigbox {
    background: #ffffff;
    box-shadow: 0px 2.55885px 17.059px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0rem;
  }
}
@media (max-width: 425px) {
  .line {
    margin-left: 0.5rem;
    width: 10rem;
  }
  .text14 {
    color: black;
    font-weight: 600;
    font-size: 0.9rem;
    margin-left: 0.3rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
  .text144 {
    color: black;
    font-weight: 600;
    font-size: 0.9rem;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
  .texta {
    color: #7e8284;
    font-weight: 600;
    font-size: 0.7rem;
    margin-left: 0.3rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
  .cel {
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
  .textap {
    color: #a1a1a1;
    font-size: 0.6rem;
    font-weight: 500;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
  .texth {
    color: #444444;
    font-size: 0.6rem;
    font-weight: 400;
  }
}
@media (max-width: 320px) {
  .line {
    margin-left: 0.5rem;
    width: 8rem;
  }
}
