.colgap {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}
.inputgap {
  margin-top: 0.5rem;
  width: 22rem;
}
.inputgap12 {
  margin-top: 0.5rem;
  width: 22rem;
}
.inputgaptext {
  margin-top: 0.5rem;
  width: 41rem;
}
.inputgapp {
  margin-top: 0.5rem;
  width: 41rem;
}
.inputgapp12 {
  margin-top: 0.5rem;
  width: 45rem;
}
.inputgapss {
  margin-top: 0.5rem;
  width: 10.5rem;
}
.colgapppssss {
  width: 41rem;
  margin-bottom: 5rem;
}
.divssss {
  display: grid;
}
.divsssss {
  display: flex;
  gap: 1rem;
}
.ticket {
  font-size: 1.5rem;
  font-weight: 600;
}
.ticketss {
  margin-top: 1.5rem;
  width: 52rem;
  display: flex;
  justify-content: center;
}
.ticketspot {
  display: flex;
  align-items: center;
  gap: 28rem;
  margin-top: 1.5rem;
}
.Dropdowns {
  display: flex;
  align-items: center;
  gap: 16rem;
}
.Dropdownss {
  display: flex;
  align-items: center;
  gap: 12rem;
}
.Dropdownsss {
  display: flex;
  align-items: center;
  gap: 13.5rem;
}
.dragger {
  margin-top: 1.5rem;
  width: 35rem;
}
.buttonsantd {
  margin-top: 5rem;
  width: 5rem !important;
  background-color: #42b00f !important;
  border: #42b00f;
  color: white;
}
.buttonsantd:hover {
  color: white !important;
}
.draggercenter {
  display: flex;
  justify-content: center;
}
.buttondrag {
  background-color: none !important;
  border-color: transparent !important;
}
.buttondrag:hover {
  border: none !important;
}
.wdthinputag {
  width: 22rem;
  height: auto;
  overflow-y: scroll;
  border: #dad8d8 solid 1px;
  border-radius: 0.2rem;
}
.dotimg {
  border: 1px dashed #d0d0d0;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
}
.seltext {
  color: #444444;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
.seltext1 {
  color: #737373;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
}
@media only screen and (max-width: 425px) {
  .colgap {
    display: grid;
    justify-content: center !important;
  }
  .ticketss {
    margin-top: 1.5rem;
    width: 15rem;
    display: flex;
    justify-content: center;
  }
  .ticket {
    margin-left: -3rem;
  }
  .ticketspot {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-top: 1.5rem;
  }
  .inputgapp {
    margin-top: 0.5rem;
    width: 15rem;
  }
  .colgapppssss {
    display: flex;
    justify-content: center;
    width: 15rem;
    margin-bottom: 5rem;
  }
}
