.btnlog {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background: #42b00f;
  border: #42b00f solid 1px;
  color: #ffffff;
  border-radius: 0.2rem;
}
.textcenter {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #151515;
  font-weight: 500;
}
.nottext {
  color: #000000;
  font-weight: 500;
  text-align: center;
  margin-top: 1rem;
}
.nottextone {
  color: #2f80ed !important;
  font-weight: 500;
  text-align: center;
}
.jointext {
  color: #151515;
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.flexrow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.circle {
  background-color: #f1f1f1;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rowdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #d9d9d9 solid 1px;
  border-radius: 0.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 15rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.rowdiv:hover {
  background-color: #42b00f;
  color: white !important;
}
.rowdiv2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.marginleft {
  margin-left: 1rem;
}
.circle2 {
  background-color: #f1f1f1;
  width: 2rem;
  height: 2rem;
  border-radius: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btncenter {
  display: flex;
  justify-content: center;
}
.boxdiv {
  margin-bottom: 2rem;
}
.greybox {
  background: #fcfcfc;
  border-radius: 5px;
}
.greysmll {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.leftdiv {
  margin-left: 1rem;
}
.bigtext {
  color: #444444;
  font-weight: 600;
}
.bigtext1 {
  color: #a1a1a1;
  font-weight: 400;
  font-size: 0.8rem;
}
.divcale {
  border: #42b00f solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 0.3rem;
  width: 7rem;
  height: 8rem;
  margin-bottom: 1rem;
}
.boxcal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.textgreen {
  color: #42b00f;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.text22 {
  color: #42b00f;
  font-weight: 500;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.text33 {
  color: #42b00f !important;
  font-weight: 400 !important;
  font-size: 0.6rem !important;
  margin-top: 0.5rem;
}
