.btnbus {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.22rem;
  padding-bottom: 0.2rem;
  border-radius: 0.2rem;
  background-color: #def5d3;
  color: #42b00f;
  border: #def5d3 solid 1px;
}

.flexbtndiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.intertext {
  color: #151515;
  font-size: 1rem;
  font-weight: 600;
  width: 50%;
}

.jantext {
  color: #a1a1a1;
  font-size: 0.8rem;
  font-weight: 600;
}

.lookingtext {
  color: #a1a1a1;
  font-size: 1rem;
  font-weight: 450;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 20rem !important;
}
.lookingtext12 {
  color: #a1a1a1;
  font-size: 0.8rem;
  font-weight: 450;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 5rem !important;
}

.blueclr {
  color: #2d9cdb !important;
}

.centercol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.centercol1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.imgstyle {
  width: 100%;
}

.imgstyle22 {
  width: 32.5rem;
  height: 29rem;
}

.boxpadding {
  padding: 1rem;
  background: #ffffff;
  box-shadow: 0px 3.81047px 25.4031px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 7.44565px 7.44565px;
  margin-top: -0.5rem;
  width: 32.5rem;
}

.btn {
  border: #ffffff solid 1px;
  width: 10rem;
  padding: 0.8rem;
  border-radius: 0.3rem;
  color: #444444;
}

.btn:hover {
  background-color: #42b00f;
  border: #42b00f solid 1px;
  color: #ffffff;
}

.btnflex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51rem;
}

.cardivvv {
  width: 51rem;
  margin-top: 1rem;
}
.mainboxcom {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 3.8941px 25.9607px rgba(0, 0, 0, 0.05);
  border-radius: 7.60907px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
}
.mainboxcom1 {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 35rem;
}
.btncom {
  background-color: #def5d3;
  color: #42b00f;
  border: #def5d3 solid 1px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}
.int {
  color: #151515;
  font-size: 1rem;
  font-weight: 600;
}
.int1 {
  color: #a1a1a1;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
}
.smalltext {
  color: #2d9cdb !important;
}
.marleft {
  margin-left: 1.5rem;
}
.imgstyle {
  width: 10rem;
  height: 9rem;
}
.jantext {
  color: #a1a1a1;
  font-size: 0.8rem;
  font-weight: 500;
}

@media (max-width: 2200px) {
  .btnflex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 60rem; */
  }

  .cardivvv {
    /* width: 60rem; */
    margin-top: 1rem;
  }

  .imgstyle22 {
    /* width: 100%; */
  }

  .boxpadding {
    padding: 1rem;
    background: #ffffff;
    box-shadow: 0px 3.81047px 25.4031px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 7.44565px 7.44565px;
    margin-top: -0.5rem;
    width: 100%;
  }
}

@media (max-width: 1440px) {
  .padindiv {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .btnflex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
  }

  .cardivvv {
    width: 50rem;
    margin-top: 1rem;
  }
  .imgstyle22 {
    width: 30rem;
  }

  .boxpadding {
    padding: 1rem;
    background: #ffffff;
    box-shadow: 0px 3.81047px 25.4031px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 7.44565px 7.44565px;
    margin-top: -0.5rem;
    width: 30rem;
  }
}

@media (max-width: 1024px) {
  .imgstyle {
    width: 91%;
  }
  .mainboxcom1 {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 22rem;
  }
  .imgstyle22 {
    /* width: 100%; */
  }

  .flexbtndiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    /* width: 90%; */
  }

  .imgstyle22 {
    width: 21rem;
  }

  .boxpadding {
    padding: 1rem;
    background: #ffffff;
    box-shadow: 0px 3.81047px 25.4031px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 7.44565px 7.44565px;
    margin-top: -0.5rem;
    width: 21rem;
  }

  .intertext {
    color: #151515;
    font-size: 0.85rem;
    font-weight: 600;
  }

  .lookingtext {
    color: #a1a1a1;
    font-size: 0.85rem;
    font-weight: 450;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .cardivvv {
    width: 35rem;
    margin-top: 1rem;
  }
  .btnflex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
  }
}

@media (max-width: 768px) {
  .imgstyle22 {
    width: 100%;
  }

  .boxpadding {
    padding: 1rem;
    background: #ffffff;
    box-shadow: 0px 3.81047px 25.4031px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 7.44565px 7.44565px;
    margin-top: -0.5rem;
    width: 100%;
  }

  .boxpadding {
    padding: 0.5rem;
    background: #ffffff;
    box-shadow: 0px 3.81047px 25.4031px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 7.44565px 7.44565px;
    margin-top: -0.5rem;
    width: 100%;
  }

  .intertext {
    color: #151515;
    font-size: 0.85rem;
    font-weight: 600;
  }

  .lookingtext {
    color: #a1a1a1;
    font-size: 0.85rem;
    font-weight: 450;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .cardivvv {
    width: 40rem;
    margin-top: 1rem;
  }
  .mainboxcom1 {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 28rem;
  }
}

@media (max-width: 425px) {
  .btnflex {
    width: 20rem;
    /* width: 70%;
    margin-top: 2rem;
    margin-bottom: 1rem; */
  }

  .centerrrr {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn {
    border: #ffffff solid 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.2rem;
    color: #444444;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .cardivvv {
    width: 20rem;
    margin-top: 1rem;
  }
  .mainboxcom1 {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 16rem;
  }
}
@media (max-width: 375px) {
  .mainboxcom1 {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 15rem;
  }
  .imgstyle {
    width: 6rem;
    height: 7rem;
  }
  .int {
    color: #151515;
    font-size: 0.7rem;
    font-weight: 600;
  }
  .int1 {
    color: #a1a1a1;
    font-size: 0.7rem;
    font-weight: 500;
    margin-top: 0.5rem;
  }
  .mainboxcom {
    display: flex;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 3.8941px 25.9607px rgba(0, 0, 0, 0.05);
    border-radius: 7.60907px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
  }
}
