.Navbarrrse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 65rem;
  padding: 1rem !important;
}
.cntainer {
  display: flex;
  gap: 12rem;
  justify-content: center;
  align-items: center;
}
.gapbuttons {
  display: flex;
  gap: 3rem;
}
.logoos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.langbutton {
  display: inline-flex;
  height: 30px;
  border-radius: 3px;
  width: 10rem;
  border: 0.5px solid #d9d9d9;
}
.displayflex {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  gap: 0.8rem;
}
.number {
  font-size: 0.8rem;
}
.twobrand {
  display: flex;
  gap: 2rem;
}
.bongoos {
  display: none;
}
.not {
  display: none;
}
.drawerdis {
  display: none;
}
.sameforall {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: 650;
  color: black;
}
.langbutton1 {
  display: inline-flex;
  height: 30px;
  border-radius: 3px;
  width: 10rem;
  border: 0.5px solid #d9d9d9;
}
@media only screen and (min-width: 1440px) {
  .cntainer {
    display: flex;
    gap: 25rem;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .drawerdis {
    display: flex;
    justify-content: space-evenly;
  }
  .drawerimg {
    width: 20rem;
  }
  .sameforall {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .newsignout {
    display: flex;
    justify-content: center;
  }
  .btnaccount1 {
    background-color: white;
    color: #42b00f !important;
    width: 8rem;
    border: #42b00f solid 1px;
    padding: 0.5rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
  }
  .buttonusercontainer {
    display: flex;
  }
  .buttonuser {
    border: transparent;
    background-color: transparent;
    gap: 0.5rem;
  }

  .Navbarrrse {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 65rem;
    padding: 1rem !important;
    margin-bottom: -3rem;
  }
  .cntainer {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
  }
  .langbutton {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .gapbuttons {
    display: flex;
    justify-content: center;
    gap: 1.3rem;
    margin-right: -5rem;
  }
  .buttonusercontainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    align-items: center;
    margin-left: -12rem;
  }
  .postbutt {
    display: flex;
    gap: 0.5rem;
    color: white;
    background-color: #42b00f;
    border-radius: 1rem;
  }
  .drawerdis {
    display: flex;
    justify-content: left;
  }
  .cntainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .langbutton {
    display: none;
  }
  .bongoos {
    display: flex;
    width: 5rem;
    height: 3rem;
  }
  .bongooos{
    width: 7rem;
    height: 2rem;
    margin-top: 1rem;
  }
  .not {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.8rem;
    width: 1.5rem;
    height: 1.5rem;
  }
  .displayflex {
    display: none;
  }
  .logoos {
    display: none;
  }
}
@media only screen and (width: 375px) {
  .buttonusercontainer {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    align-items: center;
    margin-left: -9rem;
  }
  .bongoos {
    display: flex;
    margin-top: 1rem;
    width: 2.5rem;
    height: 2rem;
  }
  .bongooos{
    width: 7rem;
    height: 2rem;
    margin-top: 0rem;
  }
}

@media only screen and (width: 320px) {
  .buttonusercontainer {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    align-items: center;
    margin-left: -9rem;
  }
  .bongoos {
    display: flex;
    margin-top: 1rem;
    width: 2rem;
    height: 2rem;
  }
  .bongooos{
    margin-top: 0rem;
  }
}
