.container {
  background-color: #151515;
}
.rowcol {
  display: flex;
  justify-content: space-evenly;

  color: white;
}
.imge:hover {
}
.firstcol {
  display: grid;
  margin-top: 3rem;
}
.googleimg {
  width: 8rem;
}
.scdnfirstcol {
  color: #c1c1c1;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.trddiv {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 4rem;
}
.guide {
  margin-top: 3rem;
  color: #42b00f;
}
.para {
  margin-top: 1.5rem;
  color: #c1c1c1;
}
.para1 {
  margin-top: 0.5rem;
  color: #c1c1c1;
}
.bottom {
  color: #a1a1a1;
  padding: 0.5rem;
margin-top: .5rem;  align-items: center;
}
.lastrow {
  background-color: #2d2c2c;

  justify-content: space-evenly;
  display: flex;
  align-items: center;
}
.lstttdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.imggg {
  margin-top: 1rem;
  width: 20rem;
}
.downloadap {
  display: none;
}
.newimg {
  width: 2.5rem;
  height: 2rem;
}

@media only screen and (max-width: 425px) {
  .downloadapp {
    width: 15rem;
    margin-bottom: 1rem;
  }
  .downloadap {
    display: none;
  }
}
