

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: "__satoshi_5c7fe5" !important; */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* .ant-menu-item {
    color: #4d4b4b !important ;
    border-radius: 0 !important;
  }
  
  .ant-menu-light.ant-menu-root.ant-menu-vertical {
    border-inline-end: 0 !important;
  }
  .ant-menu-title-content {
    color: inherit !important;
    font-weight: 700 !important;
    font-size: 0.9rem !important;
  }
  
  .ant-menu-light .ant-menu-item-selected {
    background: linear-gradient(
      269.97deg,
      #fff6f1 9.06%,
      rgba(255, 246, 241, 0) 84.15%
    ) !important;
    color: #f6591e !important;
    border-right: solid 4px #f6591e !important;
  }
  
  .ant-menu-vertical .ant-menu-item {
    height: 40px;
    line-height: 40px;
    padding-inline: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-inline: 9px !important;
    margin-block: 4px;
    width: calc(100% - 8px);
  }
  
  .ant-layout {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 0;
    background: #f0ebe6 !important;
  }
  
  :where(.css-dev-only-do-not-override-j0nf2s).ant-input-affix-wrapper
    > input.ant-input {
    padding: 0;
    font-size: inherit;
    border: none;
    border-radius: 0;
    outline: none;
    background-color: inherit !important;
  }
  
  .ant-drawer .ant-drawer-body {
    flex: 1;
    min-width: 0;
    min-height: 0;
    padding: 15px !important;
    overflow: auto;
  } */
