.mainhero {
  background-image: url("../public//images/Istiaq\ vai-02-02\ 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 28vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sizesteps {
  width: 40rem;

}

.centerhero {
  text-align: center;
}

.colrgreen {
  color: #42b00f;
  text-align: center;
}



@media(max-width: 425px) {
  .sizesteps {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;


  }
}