.mainhero {
  background-image: url("../public//images/Istiaq\ vai-02-02\ 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 28vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
}
.newadddes {
  border: solid 0.1px black;
  padding: 10px;
  width: 50rem !important;
  height: 7rem !important;
}

.sizesteps {
  width: 50%;
}

.centerhero {
  text-align: center;
}

.colrgreen {
  color: #42b00f;
  text-align: center;
}

/* @media (max-width: 1024px) {
  .sizesteps {
    width: 70%;
  }
} */

@media (max-width: 768px) {
  .newadddes{
    display: flex;
    justify-content: center;
    width: 40rem !important;
  }
  .mainhero {
    background-image: url("../public//images/Istiaq\ vai-02-02\ 1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
  }
}
@media (max-width: 425px) {
  .newadddes{
  
    width: 18rem !important;
  }
  .sizesteps {
    width: 40%;
    margin-top: 1rem;
  }
}
