.greybox {
  background: #fcfcfc;
  border-radius: 5px;
}

.shoptext {
  padding-left: 1rem;
}

.greysmll {
  padding: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14rem;
}

.text {
  font-weight: 500;
  font-size: 1rem;
  color: #151515;
  cursor: pointer;
}

.text:hover {
  color: #42b00f;
}

.text1:hover {
  color: #42b00f;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .greysmll {
    padding: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 11rem;
  }

  .text {
    font-weight: 500;
    font-size: 0.8rem;
    color: #151515;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .greysmll {
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 14rem;
  }

  .text {
    font-weight: 500;
    font-size: 1rem;
    color: #151515;
    cursor: pointer;
  }
}
