.img {
  width: 40rem;
  height: 22rem;
}
.btndiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.btnuse {
  background-color: #def5d3;
  border: #def5d3 solid 1px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 0.3rem;
  color: #42b00f;
}
.pricetext {
  color: #444444;
  font-weight: 700;
}
.septext {
  color: #444444;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  font-weight: 500;
}
.watchdiv {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.spacediv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 16rem;
  margin-bottom: 0.5rem;
}
.flexrow {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
}
.share {
  font-weight: 500;
  color: black;
}
.btns {
  background-color: white;
  border: #e8e8e8 solid 1px;
  width: 5rem;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555454;
  font-weight: 600;
  border-radius: 0.2rem;
}

.btnsdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.btnsdiv1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 38rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.btns1 {
  background-color: #f9f9f9;
  border: #f9f9f9 solid 1px;
  width: 7rem;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555454;
  font-weight: 700;
  border-radius: 1rem;
  font-size: 0.75rem;
}
.mblview {
  display: none;
}
.heartdiv {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  border-radius: 0.4rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
.fivtext {
  font-size: 0.8rem;
  color: #ffab00;
  margin-top: 0.1rem;
  margin-left: 0.4rem;
}
.ratetext {
  font-size: 0.8rem;
  color: #a1a1a1 !important;
  margin-top: 0.1rem;
  margin-left: 0.4rem;
}
.strtext {
  font-size: 0.8rem;
  color: #ffab00 !important;
  margin-left: 1rem;
}
.flexstar {
  display: flex;
  align-items: center;
}
.destext {
  color: #737373;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 35rem;
}
.borderjob {
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.line {
  border: 1px solid #d0d0d0;
}
.jotext {
  color: #151515;
  padding: 1rem;
}
.paddingdiv {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 28rem;
}
.textdiv {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.textdiv1 {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.textdes {
  color: #444444;
  font-weight: 700;
}
.textde1s {
  color: #444444;
  font-weight: 500;
  margin-left: 1rem;
}
@media (max-width: 1024px) {
  .img {
    width: 31rem;
    height: 22rem;
  }

  .destext {
    color: #737373;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.7rem;
  }
}
@media (max-width: 768px) {
  .img {
    width: 22rem;
    height: 18rem;
  }
  .flexdivv {
    display: flex;
  }
  .mblview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0.5rem;
  }
  .sizelapimg {
    width: 13rem;
    height: 8.5rem;
    margin-bottom: 1rem;
  }
  .destext {
    color: #737373;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 425px) {
  .img {
    width: 15rem;
    height: 15rem;
  }
  .flexdivv {
    display: flex;
  }
  .mblview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0.5rem;
  }
  .sizelapimg {
    width: 10.8rem;
    height: 7rem;
    margin-bottom: 1rem;
  }
  .btnsdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .padding {
    padding: 0.5rem;
  }
  .btnsdiv1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .btns1 {
    background-color: #f9f9f9;
    border: #f9f9f9 solid 1px;
    width: 6rem;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555454;
    font-weight: 500;
    border-radius: 0.5rem;
    font-size: 0.7rem;
    margin-top: 0.5rem;
  }
  .paddingdiv {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .textdiv1 {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .textde1s {
    color: #444444;
    font-weight: 500;
    margin-left: 4rem;
  }
}
@media (max-width: 375px) {
  .img {
    width: 12rem;
    height: 12rem;
  }
  .mblview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0.5rem;
  }
  .sizelapimg {
    width: 9.8rem;
    height: 5.5rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 320px) {
  .img {
    width: 10rem;
    height: 10rem;
  }
  .mblview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0.5rem;
  }
  .sizelapimg {
    width: 8.5rem;
    height: 4.5rem;
    margin-bottom: 1rem;
  }
  .btnsdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
