.greybox {
  background: #fcfcfc;
  border-radius: 5px;
}

.shoptext {
  padding-left: 1rem;
}

.greysmll {
  padding: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12rem;
}
.greysmll1 {
  padding: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8rem;
}
.text {
  font-weight: 500;
  font-size: 0.8rem;
  color: #151515;
  cursor: pointer;
}

.text1 {
  font-weight: 500;
  font-size: 0.8rem;
  color: #151515 !important;
  cursor: pointer;
}
.text:hover {
  color: #42b00f !important;
}

.text1:hover {
  color: #42b00f !important;
  cursor: pointer;
}
.sign {
  width: 2rem;
  height: 2rem;
}
@media (max-width: 1024px) {
  .greysmll {
    padding: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 11rem;
  }

  .text {
    font-weight: 500;
    font-size: 0.8rem;
    color: #151515;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .greysmll {
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 14rem;
  }
  .greysmll1 {
    padding: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
  }
  .text {
    font-weight: 500;
    font-size: 1rem;
    color: #151515;
    cursor: pointer;
  }
}
