.btnbus {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.22rem;
  padding-bottom: 0.2rem;
  border-radius: 0.2rem;
  background-color: #def5d3;
  color: #42b00f;
  border: #def5d3 solid 1px;
}
.flexbtndiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.intertext {
  color: #151515;
  font-size: 1rem;
  font-weight: 600;
}
.jantext {
  color: #a1a1a1;
  font-size: 0.8rem;
  font-weight: 600;
}
.lookingtext {
  color: #a1a1a1;
  font-size: 1rem;
  font-weight: 450;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.blueclr {
  color: #2d9cdb !important;
}
.centercol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.centercol1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.imgstyle {
  width: 100%;
}
.boxpadding {
  padding: 1rem;
  background: #ffffff;
  box-shadow: 0px 3.81047px 25.4031px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 7.44565px 7.44565px;
  margin-top: -0.5rem;
  width: 100%;
}
.share {
  color: #151515;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}
.imgdivflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  margin-bottom: 2rem;
}

.btnflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.btn {
  border: #ffffff solid 1px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.2rem;
  color: #444444;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.btncommt {
  background-color: #42b00f;
  border: #42b00f solid 1px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.2rem;
  color: white;
  margin-bottom: 2rem;
}
.Carousel {
  margin-top: 1rem;
  width: 37rem;
}
.Carousel1 {
  margin-top: 1rem;
  width: 80rem;
}
@media (max-width: 1440px) {
  .Carousel1 {
    margin-top: 1rem;
    width: 45rem;
  }
}
@media (max-width: 1406px) {
  .Carousel1 {
    margin-top: 1rem;
    width: 42rem;
  }
}
@media (max-width: 1024px) {
  .Carousel1 {
    margin-top: 1rem;
    width: 32rem;
  }
  .imgstyle {
    width: 35rem;
  }
  .boxpadding {
    padding: 1rem;
    background: #ffffff;
    box-shadow: 0px 3.81047px 25.4031px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 7.44565px 7.44565px;
    margin-top: -0.5rem;
    width: 35rem;
  }
}
@media (max-width: 768px) {
  .Carousel {
    width: 40rem;
    margin-top: 1rem;
  }
  .Carousel1 {
    margin-top: 1rem;
    width: 42rem;
  }
  .css {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .imgstyle {
    width: 100%;
  }
  .boxpadding {
    padding: 1rem;
    background: #ffffff;
    box-shadow: 0px 3.81047px 25.4031px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 7.44565px 7.44565px;
    margin-top: -0.5rem;
    width: 100%;
  }
  .divvpad {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (max-width: 425px) {
  .lookingtext {
    color: #a1a1a1;
    font-size: 0.8rem;
    font-weight: 450;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .mblview {
    padding: 1rem;
  }
  .imgdivflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin-bottom: 0rem;
  }
  .share {
    color: #151515;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0em;
    margin-bottom: 0rem;
    padding: 1rem;
  }
  .Carousel {
    margin-top: 1rem;
    width: 24rem;
  }
  .Carousel1 {
    margin-top: 1rem;
    width: 22rem;
  }
}
@media (max-width: 375px) {
  .css {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .Carousel {
    margin-top: 1rem;
    width: 21rem;
  }
  .Carousel1 {
    margin-top: 1rem;
    width: 20rem;
  }
}
@media (max-width: 320px) {
  .css {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .Carousel {
    margin-top: 1rem;
    width: 19rem;
  }
  .Carousel1 {
    margin-top: 1rem;
    width: 20rem;
  }
}
