.bgboxwhole {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.btngreen {
  background-color: #42b00f;
  border: #42b00f solid 1px;
  width: 8rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  color: white;
  margin-top: 1rem;
}
.bgdiv {
  background-image: url("../public//images/shooop.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 70vh;
}
