.card {
  width: 12.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
}

.stardiv {
  display: flex;
  align-items: center;
}

.pronam {
  color: #444444;
  font-weight: 500;
}

.pricetext {
  color: #151515;
  font-size: 0.8rem;
  font-weight: bold;
}

.greenprrice {
  text-decoration-line: line-through;
  font-size: 0.8rem;
  color: #219653;
}

.soldtext {
  color: #a1a1a1;
  font-size: 0.8rem;
}

.border {
  border: solid 1px rgb(197, 194, 194);
  padding: 0.1rem;
  border-radius: 0.2rem;
}

.star {
  font-size: 0.8rem;
}

.thre {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  color: #a1a1a1;
}
