.boxflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 51rem;
}
.imgsize {
  width: 24rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
}
.inputdiv {
  display: flex;
  padding: 1rem;
}
.input {
  /* width: 30rem; */
  margin-left: 1rem;
  border: none !important;
}
.cameradiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fcfcfc;
}
.post {
  border: solid 1px #42b00f;
  color: #42b00f;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 0.2rem;
}
.postdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #ffffff;
  box-shadow: 0px 2.55885px 17.059px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 1rem;
}
.line {
  border: solid 1px #e8e8e8;
}
.flexbigbox {
  background-color: #ffffff;
  box-shadow: 0px 2.55885px 17.059px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.clr {
  color: #444444;
  font-weight: 500;
}
.clr1 {
  color: #000000;
  font-weight: 600;
}
.clr12 {
  color: #a1a1a1;
  font-size: 0.7rem;
  font-weight: 500;
}
.threebtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.btngree {
  background-color: #f9f9f9;
  border: #f9f9f9 solid 1px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 0.3rem;
  color: #444444;
}
.btngree:hover {
  background-color: #42b00f;
  border: #42b00f solid 1px;
  color: white;
}
@media (max-width: 1440px) {
  .boxflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 44rem;
  }
  .imgsize {
    width: 23rem;
  }
}
@media (max-width: 1404px) {
  .boxflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40rem;
  }
  .imgsize {
    width: 19.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
@media (max-width: 1024px) {
  .boxflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35rem;
  }
  .imgsize {
    width: 17rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
@media (max-width: 768px) {
  .boxflex {
    display: none !important;
  }
  .imgsize {
    display: none !important;
  }
  .postdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #ffffff;
    box-shadow: 0px 2.55885px 17.059px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 1rem;
    width: 40rem;
  }
}
@media (max-width: 425px) {
  .boxflex {
    display: none !important;
  }
  .imgsize {
    display: none !important;
  }
  .postdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #ffffff;
    box-shadow: 0px 2.55885px 17.059px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
  }
}
