.centercol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.webview {
  display: none;
}
.centercol12 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 1rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.divbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  width: 42rem;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.divboxtwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
}
.shoebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 5px;
  width: 42rem;
  padding: 0.8rem;
  border: 1px solid #d0d0d0;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.img {
  width: 5rem;
  height: 5rem;
}
.flex {
  display: flex;
  align-items: center;
}
.side {
  margin-left: 0.5rem;
}
.cottontext {
  color: #333333;
  font-weight: 500;
  font-size: 0.8rem;
}
.ctotext {
  color: #999999 !important;
  text-decoration: none;
  pointer-events: none;
}
.flexdiv {
  display: flex;
  align-items: center;
}
.minus {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border: solid 1px #d0d0d0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.textdivone {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border: solid 1px #d0d0d0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plus {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border: solid 1px #d0d0d0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.position {
  position: absolute;
  right: 0;
  margin-top: -6rem;
}
.price {
  color: black;
  font-weight: 600;
}
.line {
  border: #d0d0d0 solid 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.order {
  color: #151515;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.shippingtext {
  color: #151515;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.perdiv {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.havetext {
  color: #444444;
  font-size: 0.7rem;
  font-weight: 600;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.click {
  color: #42b00f !important;
}
.divstyle {
  border-style: dashed;
  border-color: #42b00f;
  border-radius: 0.5rem;
  padding: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.iftext {
  color: #737373;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.7rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.divrow {
  display: flex;
  align-items: center;
}
.applybtn {
  background-color: #42b00f;
  border: #42b00f solid 1px;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  color: white;
  margin-left: 0.5rem;
  border-radius: 0.4rem;
}
.input {
  width: 10rem;
}
.divrow1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.total {
  color: #444444;
  font-weight: bold;
}
.probtn {
  background-color: #42b00f;
  border: #42b00f solid 1px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: white;
}
.contbtn {
  background-color: white;
  border: #42b00f solid 1px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #42b00f;
}
.colm {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .divbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    width: 28rem;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .shoebox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-radius: 5px;
    width: 28rem;
    padding: 0.8rem;
    border: 1px solid #d0d0d0;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .divboxtwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 11rem;
  }
  .centercol12 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 1rem;
    margin-left: 0.5rem;
    width: 20rem;
  }
}
@media (max-width: 768px) {
  .divbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    width: 42rem;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .shoebox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-radius: 5px;
    width: 42rem;
    padding: 0.8rem;
    border: 1px solid #d0d0d0;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .divboxtwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
  }
  .centercol12 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 1rem;
    margin-left: 0rem;
    width: 100%;
  }
}
@media (max-width: 425px) {
  .divbox12 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    width: 100%;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .shoebox12 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-radius: 5px;
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #d0d0d0;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .divboxtwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .mbl {
    display: none;
  }
  .webview {
    display: flex;
    flex-direction: column;
  }
  .flexdiv {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  .position {
    position: absolute;
    right: 0;
    margin-top: 4rem;
    margin-right: 1.5rem;
  }
  .price {
    color: black;
    font-weight: bold;
    margin-top: -2.5rem;
  }
}
