.customSteps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #42b00f !important;
  border-color: #42b00f !important;
}

.mainhero {
  background-image: url("../public//images/Istiaq\ vai-02-02\ 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 28vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
}

.sizesteps {
  width: 70%;
}

.centerhero {
  text-align: center;
}

.colrgreen {
  color: #42b00f;
  text-align: center;
}

@media (max-width: 1024px) {
  .sizesteps {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .mainhero {
    background-image: url("../public//images/Istiaq\ vai-02-02\ 1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 28vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
  }
  .sizesteps {
    width: 85%;
  }
}
@media (max-width: 425px) {
  .sizesteps {
    width: 30%;
    margin-top: -20rem;
  }
}
