.customSteps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #42b00f !important;
  border-color: #42b00f !important;
}

.mainhero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.sizesteps {
  width: 70%;
}

.centerhero {
  text-align: center;
}

.colrgreen {
  color: #42b00f;
  text-align: center;
}

@media (max-width: 1024px) {
  .sizesteps {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .mainhero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .sizesteps {
    width: 85%;
  }
}
@media (max-width: 425px) {
  .sizesteps {
    width: 30%;
  }
}
