.mainbox {
  background: #ffffff;
  box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 20px 0px;
}
.eidtdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 45rem;
}
.centerdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.paddingdiv {
  padding: 1rem;
}
.input {
  width: 18rem;
  padding: 0.5rem;
}

.namtext {
  color: #151515;
  font-weight: 500;
  margin-bottom: 0.2rem;
}
.spacebet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.updiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.centerup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn {
  border: none !important;
  color: #42b00f !important;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.drag {
  padding: 1rem;
  width: 28rem;
}
.textupp {
  color: #444444;
  font-size: 0.8rem;
}
.jptext {
  color: #737373;
  font-size: 0.7rem;
  font-weight: 500;
}
.grenclr {
  color: #42b00f;
  font-size: 1rem;
}
.divcneter {
  margin-top: -3rem;
}
.greenbtn {
  background-color: #42b00f;
  border: #42b00f 1px solid;
  width: 8rem;
  padding: 0.4rem;
  margin-top: 1rem;
  color: white;
  border-radius: 0.3rem;
}
.addtext {
  margin-left: 2.2rem;
  color: #151515;
  font-weight: 700;
  font-size: 1rem;
}
.imsize {
  width: 10rem;
  height: 10rem;
}
.weekdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.upbtn {
  background-color: #42b00f;
  border: #42b00f 1px solid;
  width: 6rem;
  padding: 0.5rem;
  color: white;
  border-radius: 0.2rem;
}
.map {
  width: 100%;
  height: 18.5rem;
}
@media (max-width: 1024px) {
  .eidtdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 40rem;
  }
  .input {
    width: 15rem;
    padding: 0.5rem;
  }
  .drag {
    padding: 1rem;
    width: 20rem;
  }
  .addtext {
    margin-left: 1.2rem;
    color: #151515;
    font-weight: 700;
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .eidtdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
  }
  .input {
    width: 15rem;
    padding: 0.5rem;
  }
  .input1 {
    width: 6rem;
    padding: 0.5rem;
  }
  .drag {
    padding: 1rem;
    width: 18rem;
  }
}
@media (max-width: 425px) {
  .drag {
    padding: 1rem;
    width: 100%;
  }
  .updiv {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .divcneter {
    margin-top: 1rem;
  }
  .addtext {
    margin-left: 3.3rem;
    color: #151515;
    font-weight: 700;
    font-size: 1rem;
  }
}
